.contact-container {
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.resource-card-body a {
    color: #ae9ff0;
}

.horizontal-rule {
    border: 3px solid #ae9ff0;
    border-radius: 2px;
}

.keyword-box {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 3px;
    cursor: pointer;
    font-size: .75rem;
}
  
.keyword-box:hover {
    background-color: #0056b3;
}